.listLink{
display:flex;
align-items: center;
justify-content: center;
list-style: none;
padding-top: 80px;
 
   font-size: 30px;
    font-weight: 900;
}

.link{
    text-decoration: none;
    color: rgb(11, 8, 4);
margin-right: 20px;
}
.link:not(:last-child){
    margin-right: 20px;
}
.link:active{
    text-decoration:underline;
    color: rgb(165, 146, 146);
    /* color: rgb(86, 82, 77); */
}