.voitAverege{
position: absolute;
top:10px;
left:15px;
font-weight: 800;
width: 40px;
height: 40px;
text-align: center;
    font-size: 30px;
    color: rgb(153, 53, 51);
    border: 0.5px solid rgb(153, 53, 51);
    border-radius: 50%;
    
    
}
.list{
     display: flex;
            justify-content: space-around;
            flex-wrap: wrap;   
             /* gap: 10px 10px 0px 10px;  */

            
}
.item{
    position: relative;
    flex-basis: calc((100% - 2 * 15px) / 4 );
       
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 100%;
       
        background-repeat: no-repeat;
            background-size: contain;
     min-width: 100px;
    min-height: 200px; 
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);  
}
 /* .item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}  */

/* .item:not(:nth-child(4n)) {
    margin-right: 15px;
} */
.item:hover,
.item:focus {
 transform: scale(1.03);
        transform-origin: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.info{
    margin-bottom: 30px;
}
.titleConteiner{
 min-height: 50px;   
}
.titleText{
    text-align: center;
}
    /* пагинация */
        .navigationButtons {
            width: 80%;
            height: 40px;
            list-style: none;
            display: flex;
            justify-content: center;
            margin: auto;
            padding-top: 40px;
        }
    
        .navigationButtons a {
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid rgb(100, 22, 136);
            color: rgb(125, 3, 186);
            cursor: pointer;
        }
    
        .navigationButtons a:hover {
            color: white;
            background-color: rgb(200, 0, 255);
        }
    
        .navigationActive a {
            color: white;
            background-color: rgb(96, 69, 93);
        }
    
        .navigationDisabled a {
            color: rgb(128, 128, 128);
            background-color: rgb(172, 20, 149);
        }